
<div class="row">
    
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="order in testData">
                    <td>
                        {{ order.type }}
                    </td>
                    <td>
                        {{ order.value }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Item</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="datatest in dataTests">
                    <td>
                        {{ datatest }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
