<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="ida:FederationMetadataLocation" value="https://login.windows.net/microsoftaleriant.onmicrosoft.com/FederationMetadata/2007-06/FederationMetadata.xml" />
    <add key="ida:Realm" value="https://microsoftaleriant.onmicrosoft.com/AngularJSAuthentication.ADAuthentication" />
    <add key="ida:AudienceUri" value="https://microsoftaleriant.onmicrosoft.com/AngularJSAuthentication.ADAuthentication" />
    <add key="ida:ClientID" value="db7ed698-ac08-4585-8b16-234a4c428b8e" />
    <add key="ida:Password" value="B5t3UmD+zK9nu1x/V7CQDcV+JYd5ED5pHLzl4EBe80k=" />

  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.identityModel xdt:Transform="Replace">
    <identityConfiguration>
      <issuerNameRegistry type="AngularJSAuthentication.ADAuthentication.Utils.DatabaseIssuerNameRegistry, AngularJSAuthentication.ADAuthentication" />
      <audienceUris>
        <add value="https://microsoftaleriant.onmicrosoft.com/AngularJSAuthentication.ADAuthentication" />
      </audienceUris>
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
      <certificateValidation certificateValidationMode="None" />
    </identityConfiguration>
  </system.identityModel>


  <system.identityModel.services xdt:Transform="Replace">
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://login.windows.net/microsoftaleriant.onmicrosoft.com/wsfed" realm="https://microsoftaleriant.onmicrosoft.com/AngularJSAuthentication.ADAuthentication" requireHttps="true" />
    </federationConfiguration>
  </system.identityModel.services>

</configuration>
