@{
    ViewBag.Title = "Home Page";
}


@Scripts.Render("~/bundles/applicationFiles")


@{
    var user = "Null User";
    if (!String.IsNullOrEmpty(User.Identity.Name))
    {
        user = User.Identity.Name;
    }

}


<div class="jumbotron" ng-app="aplicacion" ng-controller="controlador">

    <script type="text/javascript">

        //jQuery.support.cors = true;

        aplicacion.constant('user', { clientId: '@user' });

        var setValores = function () {

            //localStorageService.set('authorizationData', { token: response.access_token, userName: response.userName, refreshToken: "", useRefreshTokens: false });

            //localStorage.clear();

            var data = { token: '@ViewBag.AuthenticationHeader', userName: '@user', refreshToken: "", useRefreshTokens: false };

            console.log(JSON.stringify(data));

            localStorage.setItem('loginData', JSON.stringify(data));

        };

        //setValores();

    </script>


    <h2>Autenticación contra el AD de azure</h2>

    @*<div class="body-content container-fluid" style="word-break: break-all">

        Auth Header: @ViewBag.AuthenticationHeader
    </div>*@
    <div style="display: none">
        <input type="text" class="form-control" placeholder="Username" ng-model="loginData.userName" required autofocus>
        <input type="password" class="form-control" placeholder="Password" ng-model="loginData.password" required>
        <input type="button" class="btn btn-primary btn-lg" value="Login" ng-click="login()" />
    </div>

    <br />
    <div ng-hide="data">
        <input type="button" class="btn btn-primary btn-lg" value="Cargar" ng-click="Cargar()" />
        <input type="text" ng-model="cantidad" />
    </div>
    
    <div data-ng-hide="message == ''" class="alert alert-danger">
        {{message}}
    </div>

    <input type="button" class="btn btn-primary btn-lg" value="Limpiar" ng-click="Limpiar()" ng-show="data" />
    <ul ng-repeat="item in data">
        <li>  {{item}} </li>
    </ul>



</div>
